* {
	box-sizing: content-box;
	margin: 0px;
	padding: 0px;
	outline: 0px;
}

body {
	background-color: black;
}

header {
	background-color: #063852;
	color: white;
	padding: 10px;
	vertical-align: middle;
}

#header-left {
	display: inline-block;
	padding-right: 20px;
}

#header-right {
	display: inline-block;
}

header p {
	display: inline-block;
	padding-right: 20px;
}

header p:hover {
	font-weight: bold;
	cursor: pointer;
}

#about-page {
	width: 50px;
}

#past-entries-page {
	width: 85px;
}

#new-entry-page {
	width: 75px;
}

main {
	padding: 10px;
}

#about-row {
	background-color: #eaeff9;
	padding: 10px;
	border-radius: 2px;
}

#calendar-row {
	color: white;
	text-align: center;
	padding: 20px;
}

#calendar-row h2 {
	padding: 10px;
}

#entries-row {
	background-color: #eaeff9;
	padding: 10px;
	border-radius: 2px;
}

#create-entry-section {
	padding: 10px;
	background-color: #eaeff9;
	border-radius: 2px;
}

fieldset {
	background-color: #eaeff9;
	border: none;
}

textarea {
	resize: none;
	width: 80%;
	min-height: 150px;
	padding: 5px;
	border: solid 3px #4CB5F5;
	border-radius: 2px;
}

textarea:focus {
	border: solid 3px #5dff7f;
}

.inactive-prompt {
	color: gray;
	border-radius: 0px 5px 5px 0px;
}

.inactive-prompt:hover {
	padding-left: 2px;
	background-color: #5dff7f;
	cursor: pointer;
}

label {
	display: block;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.hide-prompt {
	color: white;
	height: 35px;
	width: 150px;
	background-color: #F0810F;
	border: none;
	border-radius: 2px;
}

.hide-prompt:hover {
	background-color: #ef4e0e;
	cursor: pointer;
}

.re-edit-button {
	display: inline-block;
	width: 50px;
}

.re-delete-button {
	display: inline-block;
	width: 50px;
}

#submit-entry {
	margin-top: 25px;
	color: black;
	height: 35px;
	width: 150px;
	background-color: #4CB5F5;
	border: none;
	border-radius: 2px;
}

#submit-entry:hover {
	background-color: #5dff7f;
	cursor: pointer;
}

#emotions-fieldset label{
	display: inline-block;
	margin-right: 10px;
}

#emotions-fieldset input{
	display: inline-block;
	margin-right: 40px;
}