.entry-excerpt {
	transition: 0.8s;
	-webkit-transition: 0.8s;
	margin-bottom: 10px;
}

.entry-excerpt:hover {
	padding-left: 15px;
	background-color: #5dff7f;
	cursor: pointer;
}

.entry-excerpt p {
	display: inline-block;
	width: calc(100% - 100px);
}

#selected-entry {
	margin-top: 20px;
}

#selected-entry h2 {
	margin-bottom: 10px;
}

#selected-entry p {
	margin-bottom: 10px;
}