* {
	box-sizing: content-box;
	margin: 0px;
	padding: 0px;
	outline: 0px;
}

body {
	background-color: #99ffb3;
}

header {
	background-color: #063852;
	color: white;
	padding: 10px;
	vertical-align: middle;
	font-family: 'Lato', sans-serif;
}

#header-left {
	display: inline-block;
	padding-right: 20px;
}

#header-right {
	display: inline-block;
}

header p {
	display: inline-block;
	padding-right: 20px;
}

header p:hover {
	cursor: pointer;
}

#about-page {
	width: 50px;
}

#past-entries-page {
	width: 85px;
}

#new-entry-page {
	width: 75px;
}

fieldset {
	background-color: #eaeff9;
	border: none;
}

label {
	display: block;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

button {
	font-weight: bold;
}

#about-row {
	padding: 10px;
	border-radius: 2px;
}

.inactive-prompt {
	color: gray;
	border-radius: 0px 5px 5px 0px;
}

.inactive-prompt:hover {
	padding-left: 2px;
	background-color: #5dff7f;
	cursor: pointer;
}

.hide-prompt {
	color: white;
	height: 35px;
	width: 150px;
	background-color: #F0810F;
	border: none;
	border-radius: 2px;
}

.hide-prompt:hover {
	background-color: #ef4e0e;
	cursor: pointer;
}

#emotions-fieldset label{
	display: inline-block;
	margin-right: 10px;
}

#emotions-fieldset input{
	display: inline-block;
}

.emotion-block {
	display: inline-block;
	margin-right: 20px;
	margin-left: 10px;
}

/*

#submit-entry {
	margin-top: 25px;
	color: black;
	height: 35px;
	width: 150px;
	background-color: #4CB5F5;
	border: none;
	border-radius: 2px;
}

#submit-entry:hover {
	background-color: #5dff7f;
	cursor: pointer;
}

*/