#selected-row {
	padding: 10px;
	border-radius: 2px;
	margin-bottom: 10px;
	max-width: 800px;
}

#selected-entry-emotion {
	display: block;
	width: 180px;
	margin-right: auto;
	margin-left: auto;
}

legend {
	margin-bottom: 12px;
}

#entries-row {
	padding: 10px;
	border-radius: 2px;
	max-width: 800px;
}

#create-entry-section {
	padding: 10px;
	border-radius: 2px;
}

textarea {
	width: 80%;
	min-height: 150px;
	padding: 5px;
	border: solid 3px #4CB5F5;
	border-radius: 2px;
	font-family: 'Open Sans', sans-serif;
}

textarea:focus {
	border: solid 3px #5dff7f;
}

.entry-excerpt {
	transition: 0.5s;
	-webkit-transition: 0.5s;
	margin-bottom: 10px;
	max-height: 150px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.entry-excerpt:hover {
	padding-left: 15px;
	background-color: #4be4f5;
	cursor: pointer;
}

.entry-excerpt p {
	display: inline-block;
	position: relative;
	top: -20px;
}

#selected-entry {
	margin-top: 20px;
}

#selected-entry h2 {
	margin-bottom: 10px;
}

#selected-entry p {
	margin-bottom: 10px;
}

.emotion-excerpt {
	width: 50px;
	display: inline-block;
}

/* non-mobile default */
@media only screen and (min-width: 640px) {
  	td {
		font-size: 20px;
		height: 50px;
	}

	#calendar-section h3{
		font-size: 60px;
	}

	#entries-row h2 {
		font-size: 40px;
	}

}

@media only screen and (min-width: 860px){
	#entries-row {
		min-height: calc(100vh - 125px);
	}
}